{
	"trailingComma": "none",

	"tabWidth": 2,

	"useTabs": true,

	"semi": false,

	"arrowParens": "avoid",
	"singleQuote": true,
	"jsxSingleQuote": true,

	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/hooks/(.*)$",
		"^@/assets/(.*)$",
		"^@/styles/(.*)$",
		"^../(.*)$",
		"^./(.*)$"
	],

	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
